.jumbotron{
    background-color: rgb(240, 245, 247);
    margin-top: 20px;
    padding-top:20px;
}

.jumbotron h5{
    background-color: rgb(153, 175, 184);
   padding: 5px;
   color: rgb(255, 255, 255);
   font-size: 14px;
   border-radius: 4px;
}

.empresa{
    background-color: rgb(225, 233, 236);
    padding: 20px;
}
.pessoa{
    background-color: rgb(225, 233, 236);
    padding: 20px;
    margin-bottom:5px;
}
.control-label{
    font-size: 13px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.top-table{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}
.input-person{
    border: 1px solid rgba(159, 182, 216, 0.8);
    border-radius: 4px;
    padding: 3px;

    
}
.table tbody{
    font-size: 13px;
}
.btn-icon{
    border: 0;background-color: white;border-radius: 4px;
}

.bloco-card{
    background-color: white;margin: 10px 0 10px 0;padding:10px; border-radius: 7px;color: #333;font-size: 14px;
}

.bloco-card label{
    font-size: 12px;font-weight: bold;color:black

}
hr{padding: 0px;margin: 5px; color: azure;}

.btn{
    margin-bottom:2px !important;
}